.top-container {
  background-color: var(--color--bg-html);
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100cqw; max-width: 100cqw;
  min-height: 100cqw; max-height: 100cqw;
  padding: 16px;
}

.main-container {
  position: relative;
  display: flex;
  min-width: 100%; max-width: 100%;
  min-height: 100%; max-height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 16px;
  /* border: 16px solid var(--color--bg-html);
  border-radius: 16px; */

  .map-container {
    --x-size: 10;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 100%; width: 100%; max-width: 100%;
    transform-origin: top left;
    container-type: inline-size;
    aspect-ratio: 1/1;
    border-radius: 16px;
    overflow: hidden;
  
    .grid-cell {
      --cell-size: calc(100cqw / var(--x-size));
      --background-color: if(
        style(--map-theme: 'realistic'): hsl(227, 33%, 25%);
        style(--map-theme: 'volcanic'):  hsl(190, 40%, 45%);
        style(--map-theme: 'fjord'):     hsl(190, 80%, 40%);
        style(--map-theme: 'mangrove'):  hsl(45, 12%, 45%);
        else: hsl(200, 80%, 50%)
      );
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      background-color: var(--background-color);
      min-width: var(--cell-size); width: var(--cell-size); max-width: var(--cell-size);
      min-height: var(--cell-size); height: var(--cell-size); max-height: var(--cell-size);
      font-size: 12px;
      color: transparent;
      transition: opacity .5s linear;
  
      &.island-center {
        --background-color: if(
          style(--map-theme: 'realistic'):  hsl(131, 10%, 33%);
          style(--map-theme: 'volcanic'):  hsl(30, 5%, 30%);
          style(--map-theme: 'fjord'):   hsl(178, 10%, 98%);
            style(--map-theme: 'mangrove'):  hsl(122, 33%, 30%);
          else: hsl(111, 21%, 36%)
        );
  
        &.spreaded {
          --background-color: if(
            style(--map-theme: 'realistic'):  hsl(139, 12%, 35%);
            style(--map-theme: 'volcanic'):  hsl(30, 5%, 30%);
            style(--map-theme: 'fjord'):   hsl(178, 10%, 98%);
            style(--map-theme: 'mangrove'):  hsl(122, 33%, 30%);
            else: hsl(111, 21%, 36%)
          );
        }
      }
  
      &.surrounding {
        --background-color: if(
          style(--map-theme: 'realistic'):  hsl(34, 25%, 55%);
          style(--map-theme: 'volcanic'):  hsl(30, 5%, 40%);
          style(--map-theme: 'fjord'):   hsl(178, 60%, 95%);
          style(--map-theme: 'mangrove'):  hsl(119, 28%, 35%);
          else: hsl(80, 17%, 56%)
        );
      }
  
      &.beach {
        --background-color: if(
          style(--map-theme: 'realistic'):  hsl(10, 51%, 91%);
          style(--map-theme: 'volcanic'):  hsl(30, 5%, 50%);
          style(--map-theme: 'fjord'):   hsl(185, 80%, 80%);
          style(--map-theme: 'mangrove'):  hsl(40, 25%, 60%);
          else: hsl(39, 50%, 90%)
        );
      }
  
      &.water-1 {
        --background-color: if(
          style(--map-theme: 'realistic'):  hsl(165, 25%, 69%);
          style(--map-theme: 'volcanic'):  hsl(190, 30%, 55%);
          style(--map-theme: 'fjord'):   hsl(185, 80%, 60%);
          style(--map-theme: 'mangrove'):  hsl(39, 20%, 55%);
          else: hsl(175, 70%, 70%)
        );
      }
  
      &.water-2 {
        --background-color: if(
          style(--map-theme: 'realistic'):  hsl(197, 48%, 36%);
          style(--map-theme: 'volcanic'):  hsl(190, 35%, 50%);
          style(--map-theme: 'fjord'):   hsl(190, 80%, 50%);
          style(--map-theme: 'mangrove'):  hsl(42, 15%, 50%);
          else: hsl(190, 80%, 50%)
        );
      }
  
      /* &.central-point {
        border: none;
        background-color: red !important;
      } */
  
      &.hidden-point {
        border: none;
        /* background-color: red !important; */
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          min-width: 100%; width: 100%; max-width: 100%;
          min-height: 100%; height: 100%; max-height: 100%;
          /* background-color: red; */
          /* opacity: .2; */
          transform-origin: center;
          /* transform: scale(3); */
          z-index: 50;
        }
      }
    }
  }

  .map-mask {
    position: absolute;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 100%; width: 100%; max-width: 100%;
    min-height: 100%; height: 100%; max-height: 100%;
    aspect-ratio: 1/1;
    transition: opacity 1s linear;
    opacity: 0;
    border-radius: 16px;
    overflow: hidden;

    &.hidden {
      opacity: 1;
    }
  }
  
  .interactive-panel {
    position: absolute;
    /* background-color: magenta; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 100%; width: 100%; max-width: 100%;
    min-height: 100%; height: 100%; max-height: 100%;
    opacity: .66;
    aspect-ratio: 1/1;
    border-radius: 16px;
    overflow: hidden;
  
    .quarter-panel {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 50%; width: 50%; max-width: 50%;
      min-height: 50%; height: 50%; max-height: 50%;
      border: 1px solid black;
      overflow: hidden;
  
      &.scan {
        &::after {
          content: '';
          position: absolute;
          top: -100%;
          left: 0;
          min-width: 100%; width: 100%; max-width: 100%;
          min-height: 100%; height: 100%; max-height: 100%;
          background: linear-gradient(0deg,hsl(28, 100%, 60%) 0%, hsla(28, 100%, 50%, 0.9) 2%, hsla(28, 100%, 50%, 0.8) 8%, hsla(28, 100%, 50%, 0.5) 16%, hsla(28, 100%, 50%, 0.25) 50%, hsla(28, 100%, 50%, 0.1) 100%);
          /* opacity: .2; */
          transform-origin: center;
          /* transform: scale(3); */
          z-index: 50;
          animation: scan 2s linear forwards;
        }
      }

      &.blacked {
        &::after {
          content: '';
          position: absolute;
          min-width: 100%; width: 100%; max-width: 100%;
          min-height: 100%; height: 100%; max-height: 100%;
          background-color: #000000ad;
        }
      }
  
      &.win {
        animation: win 2s linear forwards;
      }
  
      &.fail {
        animation: fail 2s linear forwards;
      }
  
      &.failed {
        background-image: linear-gradient(45deg, hsla(0, 0%, 0%, 0.5) 25%, #ffffff00 25%, #ffffff00 50%, hsla(0, 0%, 0%, 0.5) 50%, hsla(0, 0%, 0%, 0.5) 75%, #ffffff00 75%, #ffffff00 100%);
        background-size: 64px 64px;
      }
    }
  }

  .screen-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    min-width: 100%; width: 100%; max-width: 100%;
    min-height: 100%; height: 100%; max-height: 100%;
    aspect-ratio: 1/1;
    border-radius: 25%;
    overflow: hidden;
    outline: 50px solid hsl(0, 0%, 5%);

    -webkit-box-shadow: inset 0px 0px 15px 5px #000000; 
    box-shadow: inset 0px 0px 15px 5px #000000;

    z-index: 70;
  }
}
@keyframes scan {
  0%   { top: -100%; }
  100% { top: 0%; }
}
@keyframes win {
  0%   { background-color: hsla(120, 85%, 45%, 0); }
  5%   { background-color: hsla(120, 85%, 45%, 0.33); }
  10%   { background-color: hsla(120, 85%, 45%, 0); }
  15%   { background-color: hsla(120, 85%, 45%, 0.66); }
  100%   { background-color: hsla(120, 85%, 45%, 0.66); }
}
@keyframes fail {
  0%   { background-color: hsla(0, 100%, 50%, 0); }
  5%   { background-color: hsla(0, 100%, 50%, 0.33); }
  10%   { background-color: hsla(0, 100%, 50%, 0); }
  15%   { background-color: hsla(0, 100%, 50%, 0.66); }
  100%   { background-color: hsla(0, 100%, 50%, 0.66); }
}

.page-container {
  position: relative;
  background-color: var(--color--bg-html);
  border-radius: 0px 0px 16px 16px;
  padding: var(--horizontal-padding) var(--horizontal-padding) !important;
  padding-top: 0 !important;
}

.top-info-area {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: var(--border-radius--default);
  border: 1px solid var(--color--fg-default);
  opacity: .33;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%; width: 100%; max-width: 100%;
  /* background-color: magenta; */
 /*  overflow: hidden; */
  container-type: inline-size;

  button {
    font-family: 'consolas';
    -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3); 
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.3);
  }

  .directional-cross-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 48cqw; width: 48cqw; max-width: 48cqw;
    min-height: 48cqw; height: 48cqw; max-height: 48cqw;
    /* background-color: cyan; */
    gap: 8px;

    button {
      width: calc(50% - 4px);
      height: calc(50% - 4px);
    border-radius: 8px;
    }
  }
  .action-buttons-container {
    --stripe-color: hsla(0, 0%, 0%, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48cqw; width: 48cqw; max-width: 48cqw;
    min-height: 48cqw; height: 48cqw; max-height: 48cqw;
    background-image: linear-gradient(45deg, var(--stripe-color) 25%, #ffffff00 25%, #ffffff00 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, #ffffff00 75%, #ffffff00 100%);
    background-size: 64px 64px;
    border-radius: 16px;
    -webkit-box-shadow: inset 0px 4px 5px 1px rgba(0,0,0,0.3); 
    box-shadow: inset 0px 4px 5px 1px rgba(0,0,0,0.3);

    button {
      width: 66%;
      height: 66%;
      font-size: 24px;
    border-radius: 16px;
      /* box-shadow: var(--box-shadow--default); */
    }
  }
}

.bottom-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  /* background-color: magenta; */

  .speaker {
    --size: 96px;
    --line-weight: calc(var(--size) / 11);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--line-weight);
   /*  background-color: cyan; */
    min-width: var(--size); width: var(--size); max-width: var(--size);
    min-height: var(--size); height: var(--size); max-height: var(--size);
    border-radius: 500px;
    /* transform: rotate(45deg); */

    .speaker-line {
      min-width: var(--line-weight); width: var(--line-weight); max-width: var(--line-weight);
      -webkit-box-shadow: inset 0px 4px 5px 1px rgba(0,0,0,0.3); 
      box-shadow: inset 0px 4px 5px 1px rgba(0,0,0,0.3);
      border-radius: 500px;

      &.large {
        min-height: 100%; height: 100%; max-height: 100%;
      }
      &.medium {
        min-height: 84%; height: 84%; max-height: 84%;
      }
      &.small {
        min-height: 55%; height: 55%; max-height: 55%;
      }
    }
  }
}


.lines-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid var(--color--fg-default);

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  
    > span {
      width: 64px;
      font-weight: 600;
    }
  
    .block {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      width: 136px;
      gap: 8px;
  
      .block-line {
        display: flex;
        justify-content: space-between;
        gap: 4px;
        min-width: 80px; width: 80px; max-width: 80px;
        font-weight: 600;

        &.spread {
          min-width: 72px; width: 72px; max-width: 72px;
        }
      }
    }
  }
}

.line-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;
        font-weight: 600;

  .block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 136px;
      gap: 8px;

    .block-line {
      display: flex;
        justify-content: space-between;
        gap: 4px;
        width: 86px;
        font-weight: 600;
    }
  }
}